html
  head
    title expressworks
    link(rel='stylesheet', type='text/css', href='/main.css')
    link(rel='stylesheet', type='text/css', href='/styles.css')    	
  body
    p I am red!
    p.highlight I'm highlighted!